body {
  padding: 50px;
  font-family: Arial, serif;
  color: #b8babc;
  text-shadow: 2px 1px 1px black;
  background-color: #2b2b2b;
}

header {
  padding-bottom: 50px;
}

footer {
  padding-top: 50px;
}

.mono {
  font-family: monospace;
}

input#date {
  width: 70px;
}

input#category {
  width: 155px;
}

input#description {
  width: 720px;
}

input#cost {
  width: 70px;
  text-align: right;
}

button#delete {
  margin-left: 5px;
  background-color: darkred;
}